.speech {
    font-family: Arial;
    font-size: 16px;
    color: black;
}

.song {
    font-family: Times New Roman;
    font-size: 17px;
    color: black;
    font-style: italic;
    margin-left: 40px;
}

.direction {
    font-family: Courier New;
    background-color: lightgray;
    color: black;
    padding: 5px;
}

.direction:hover {
    background-color: black;
    color: white;
}

.name {
    font-weight: bold;
}

.frederic { color: blue; }
.pirateking { color: red; }
.samuel { color: green; }

.name:hover {
    text-shadow: 3px 3px 6px purple;
    border: 2px solid purple;
}

